.add-to-cart {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  text-align: left;
  bottom: 100%;
  padding: 1rem;
  z-index: 1;

  .align-left & {
    justify-content: flex-start;

    button {
      margin-left: 0;
      margin-right: .75em;
    }
  }

  .align-right & {
    justify-content: flex-end;

    button {
      order: 2;
      margin-right: 0;
      margin-left: .75em;
    }
  }

  button {
    padding: .75em;
    margin-right: .75em;
    font-size: .75em;
  }

  .price {
    vertical-align: -2px;
    font-family: "Open Sans Condensed";
    font-size: 1em;
  }
}